// ===== FONT GOOGLE =====
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

// ===== VARIABLE CSS =====
// Header Height
$header-height: 6rem;

// Color Palette
$black-color: #212529;
$grey-color: #495057;
$white-color: #fff;
$purple-color: #735dfe;

// Font Body
$font-body: "Poppins", sans-serif;

// Font Weight
$font-reguler: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;

// Margin
$margin-0-5: 0.5rem;
$margin-1: 1rem;
$margin-1-5: 1.5rem;
$margin-2: 2rem;
$margin-2-5: 2.5rem;
$margin-3: 3rem;
$margin-3-5: 3.5rem;
$margin-4: 4rem;

// Z-index
$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;

// Transition
$transition-300: 0.3s;
$transition-400: 0.4s;

// Line-Height
$leading-title: 130%;
$leading-text: 190%;

// ===== BASE & RESET =====
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-body;
  font-weight: $font-reguler;
  letter-spacing: -1px;
}

ul,
a {
  list-style: none;
  text-decoration: none;
}

output,
input {
  font-family: $font-body;
  font-weight: $font-reguler;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

// ===== REUSABLE CSS CLASS =====
.container {
  max-width: 1120px;
  width: calc(100% - 3rem);
  margin: 0 $margin-1-5;
}

.grid {
  display: grid;
}

.section {
  padding: 6rem 0;

  &-subtitle {
    display: block;
    font-size: 20px;
    font-weight: $font-semibold;
    color: $purple-color;
    margin-bottom: 10px;
  }

  &-title {
    font-size: 28px;
    font-weight: $font-bold;
    color: $black-color;
  }
}

.button {
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
  font-size: 15px;
  font-weight: $font-semibold;
  border-radius: 15px;
  transition: $transition-400;

  &-fill {
    background-color: $purple-color;
    color: $white-color;

    &:hover {
      background-color: #412bce;
    }
  }

  &-border {
    border: 2px solid $purple-color;
    color: $purple-color;

    &:hover {
      background-color: $purple-color;
      color: $white-color;
    }
  }
}

.main {
  overflow: hidden;
}

// ===== HEADER SECTION =====
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $white-color;
  z-index: $z-fixed;
  transition: $transition-400;

  &__container {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-size: 20px;
    font-weight: $font-extrabold;
    color: $black-color;
  }

  &__menu {
    @media screen and (max-width: 767px) {
      position: fixed;
      width: 80%;
      top: 7rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      padding: 2rem;
      background-color: $white-color;
      border-radius: 2rem;
      box-shadow: 0 0 12px rgba($color: #000000, $alpha: 0.1);
      transition: $transition-400;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: 0% 0%;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__link {
    font-size: 15px;
    font-weight: $font-medium;
    color: $grey-color;

    &.active-link {
      position: relative;
      font-weight: $font-bold;
      color: $purple-color;

      &::before {
        position: absolute;
        content: "";
        top: 1.5rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 20px;
        height: 4px;
        background-color: $purple-color;
        border-radius: 5rem;
      }
    }
  }

  &__button {
    margin-top: 1.5rem;
  }

  &__toggle {
    display: inline-flex;
    font-size: 1.5rem;
    color: $black-color;
    cursor: pointer;
  }

  // Show Menu
  .show-menu {
    opacity: 1;
    transform: scaleY(1);
  }
}

// ===== HOME SECTION =====
.home {
  padding: 8rem 0 6rem;

  &__container {
    gap: 3rem;
  }

  &__content {
    gap: 2rem;
  }

  &__data {
    text-align: center;
  }

  &__title {
    font-size: 42px;
    font-weight: $font-bold;
    color: $black-color;
    line-height: $leading-title;
    margin-bottom: $margin-1;
  }

  &__text {
    font-size: 15px;
    color: $grey-color;
    line-height: $leading-text;
    margin-bottom: 24px;
  }

  &__button {
    display: inline-flex;
    align-items: center;
    gap: 1.5rem;

    &-learn {
      display: inline-flex;
      align-items: center;
      gap: 6px;
      font-size: 15px;
      font-weight: $font-semibold;
      color: $black-color;
    }

    &-icon {
      font-size: 2.5rem;
      color: $purple-color;
    }
  }

  &__sponsored {
    display: grid;
    gap: 1rem;
    text-align: center;

    &-title {
      font-size: 20px;
      color: $black-color;
    }

    &-wrapper {
      display: inline-flex;
      align-items: center;
      justify-self: center;
      gap: 1rem;
    }

    &-img {
      width: 100px;
    }
  }
}

// ===== FEATURE SECTION =====
.feature {
  &__container {
    gap: 3rem;
  }

  &__data {
    text-align: center;
  }

  &__group {
    grid-template-columns: 0.7fr;
    justify-content: center;
    gap: 2rem;
  }

  &__item {
    &-img {
      width: 220px;
      justify-self: center;
    }

    &-title {
      font-size: 24px;
      font-weight: $font-semibold;
      color: $black-color;
      line-height: $leading-title;
      margin-bottom: $margin-1;
    }

    &-text {
      font-size: 15px;
      color: $grey-color;
      line-height: $leading-text;
    }
  }
}

// ===== ABOUT SECTION =====
.about {
  &__container {
    gap: 3rem;
  }

  &__data {
    text-align: center;
  }

  &__title {
    margin-bottom: $margin-1;
  }

  &__text {
    font-size: 15px;
    color: $grey-color;
    line-height: $leading-text;
    margin-bottom: 24px;
  }

  &__button {
    display: inline-flex;
  }
}

// ===== TESTIMONIAL SECTION =====
.testimonial {
  &__data {
    text-align: center;
  }

  &__container {
    overflow: hidden;
  }

  &__item {
    display: grid;
    gap: 1.5rem;
    width: 300px;
    padding: 3rem 2rem;
    border: 1.5px solid rgba($color: #000000, $alpha: 0.1);
    border-radius: 20px;
    transition: $transition-400;

    &-profile {
      width: 100px;
      justify-self: center;
    }

    &-star {
      display: inline-flex;
      justify-self: center;
      gap: 0.5rem;
    }

    &-icon {
      display: inline-flex;
      font-size: 1.5rem;
      color: #ff8831;
    }

    &-data {
      text-align: center;
    }

    &-name {
      font-size: 20px;
      font-weight: $font-semibold;
      color: $black-color;
      margin-bottom: $margin-1;
    }

    &-text {
      font-size: 15px;
      color: $grey-color;
      line-height: $leading-text;
    }

    // testimonial active
    &.swiper-slide-active {
      border-color: $white-color;
      background-color: $white-color;
      box-shadow: 0 10px 20px rgba($color: #000000, $alpha: 0.1);
    }
  }

  .swiper-wrapper {
    padding: 3rem 0;
  }

  // Pagination Icon
  .swiper-pagination {
    position: initial;

    &-bullet {
      width: 10px;
      height: 10px;
      background-color: rgba($color: #000000, $alpha: 0.1);
      opacity: 1;
    }

    &-bullet-active {
      width: 2rem;
      height: 10px;
      border-radius: 0.5rem;
      background-color: $purple-color;
    }
  }
}
